<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>timetracker</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>users.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>crud.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GridServlet</servlet-name>
    <servlet-class>servlet.JqGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GridServlet</servlet-name>
    <url-pattern>/GridServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>servlet.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectController</display-name>
    <servlet-name>ProjectController</servlet-name>
    <servlet-class>com.wipro.timetracker.action.ProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectController</servlet-name>
    <url-pattern>/ProjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleController</display-name>
    <servlet-name>RoleController</servlet-name>
    <servlet-class>com.wipro.timetracker.action.RoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleController</servlet-name>
    <url-pattern>/RoleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.wipro.timetracker.action.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.wipro.timetracker.action.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeekendSupportController</display-name>
    <servlet-name>WeekendSupportController</servlet-name>
    <servlet-class>com.wipro.timetracker.action.WeekendSupportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeekendSupportController</servlet-name>
    <url-pattern>/WeekendSupportController</url-pattern>
  </servlet-mapping>
</web-app>